
@import 'https://fonts.googleapis.com/css?family=Lato:400,700';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS INDEX */
.fotos img {
    border-radius: 50%;
}
.imgzoom {
    overflow: hidden;
}
.img1:hover {
    transform: scale(1.1);
    transition: all 1s;
}
body {
    background-color: aliceblue;
}
.footer {
    padding: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    text-align: center;
    background-color:floralwhite;
    }
.video {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.home {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
}
/* FIN CSS INDEX */
/* CSS ABOUT US*/

.pp p{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
}
/* FIN CSS ABOUT US*/
/* CSS HOW TO ORDER */
.lista{ 
    width: 60%;
    font-size: 20px;
    border: solid blanchedalmond;
    margin: 20px 25px 5px 20px;
    font-family: 'Lato', sans-serif;
    background-color: white;
}
.delivery{
    border: solid blanchedalmond;
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    font-family: 'Lato', sans-serif;
    background-color: white;
    width: 60%;
}
.deliveryoptions {
    font-size: 20px;
}
/* FIN CSS HOW TO ORDER */

/* CSS CONTACT US*/
.acepto{
    margin-top: 10px;
    font-family: 'Lato', sans-serif;
    margin-left: 5px;
}
.btn{
    font-family: 'Lato', sans-serif;
}
.btn2{
    margin-left: 60px;
}
/* FIN CSS CONTACT US*/
